.tab-layout__tab-toolbar {
  &__menu-item .fui-MenuItem__content {
    @apply truncate;
  }

  &__address-bar .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Chrome/Safari */
    }
  }
}
